* {
    font-family: 'Jura', sans-serif;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #01abaa;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.app {
    position: relative;
    width: 100%;
    max-width: 400px;
    background: white;
    border-radius: 10px;
    padding: 10px;
}
